@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Acme.DrawLanding.Website.Html
@model Acme.DrawLanding.Website.Domain.Users.UserLoginRequest
@{
    Layout = "_Layout";
}﻿

<div class="container">

    <h2>Create user</h2>

    <p>This endpoint is exposed for conveniency.</p>

    <form asp-controller="Users" asp-action="Index" method="post" role="form">

        <div class="mb-3">
            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" class="form-control @Bootstrap.Form.ValidationClass(ViewData.ModelState[nameof(Model.Username)])">
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control @Bootstrap.Form.ValidationClass(ViewData.ModelState[nameof(Model.Password)])" type="password">
        </div>

        <div class="text-end mb-3">
            <input type="submit" class="btn btn-success" role="button" value="Create">
        </div>

    </form>

</div>
